// Font
$mainFont                : "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Project colors
$default-color           : #ffffff;
$blue-color              : #3949ab;
$background              : #d5d8df;
$btn-color               : #484aa1;
$app-background          : #b4bbce;

$f1: RGB(253, 153, 42);
$f2: RGB(240, 240, 248);
$f3: RGB(205, 204, 218);
$f4: RGB(196, 197, 215);
$f5: RGB(68, 85, 141);
$f6: RGB(57, 58, 86);
$f7: RGB(36, 38, 61); // font
$f7: RGB(172, 174, 189); // font
$f8: RGB(191, 192, 210);
$F8: RGB(255, 255, 255);


// Border Color
$border-base            : #f2f2f4;
