// Font
$mainFont                : "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Project colors
$default-color           : #ffffff;
$btn-color-active        : RGB(253, 153, 42);
$grid-color              : RGB(240, 240, 248);
$btn-color               : RGB(68, 85, 141);
$btn-color-light         : RGBA(68, 85, 141, 0.5);
$btn-color-2             : RGB(57, 58, 86);
$text-color              : RGB(36, 38, 61); // font
