.main-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.main-buttons__button {
  padding: 8px;
  background-color: $btn-color;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 5px;
  color: $default-color;
}

.main-buttons__button--stop {
  background-color: $btn-color-2;
}

.main-buttons__button:hover,
.main-buttons__button:active {
  background-color: $btn-color-active;
  color: $text-color;
}
